<section
  id="perfil"
  class="flex flex-col md:flex-row justify-center items-center p-10 gap-10 rounded-lg shadow-md"
>
  <div>
    <img
      class="rounded-e-md"
      src="/icon/perfil.jpeg"
      alt="Aqui va una imagen"
      width="340px"
    />
  </div>
  <div class="w-full md:w-1/2 my-2 flex flex-col justify-center gap-5">
    <h1 class="text-4xl">
      <span>
        RCQLAB 
      </span>
    </h1>
    <div  class="text-[0.750rem] sm:text-sm">
      <p style="text-align:"justify">
        Misión<br>
​Proveer y producir Materiales de Referencia Certificados (MRC) bajo los más altos estándares de competencia técnica internacional (ISO 17034), garantizando la trazabilidad metrológica y la confiabilidad de los resultados analíticos en los laboratorios. Nos dedicamos a fortalecer la infraestructura de la calidad en Ecuador y el mundo a través de la provisión de insumos críticos, asesoría especializada y formación técnica continua."
      </p>
      <p style="text-align:"justify">- ​Visión <br>
​"Para el año 2030, consolidarnos como el productor y distribuidor referente de Materiales de Referencia Certificados en el mercado nacional e internacional, siendo reconocidos por la excelencia científica y la ampliación constante de nuestro alcance de acreditación. Aspiramos a ser el socio estratégico fundamental para los laboratorios que buscan la acreditación y la mejora continua, proyectando la calidad técnica ecuatoriana hacia los mercados globales."</p>
     
      <p>- Teléfono:0994602737</p>
          </div>

    <p class="font-bold text-justify text-[0.750rem]">
      Dirección: Sector Amaguaña, Barrio Miranda, Calle OE 6 AN 29-100 y Av. Rio Napo.</p>
    <!-- <img src="/firma.webp" alt="firma" class="w-full lg:w-1/2" />-->
  </div>
</section>
